/* line 1, scss/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px; }

/* line 8, scss/style.scss */
body {
  position: relative; }

/* line 12, scss/style.scss */
.page {
  display: flex;
  justify-content: space-around; }

/* line 18, scss/style.scss */
.stat-button {
  padding: 0 3vw;
  border-radius: 10px;
  border: 1px solid black; }

/* line 23, scss/style.scss */
.stat-buttons-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row-reverse;
  margin: 2vh 0; }

/* line 30, scss/style.scss */
.race-container, .subrace-container, #class-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/* line 39, scss/style.scss */
.race-buttons-container, .subrace-button-container, #class-buttons-container {
  display: flex;
  width: 80%; }

/* line 44, scss/style.scss */
.fas {
  padding-top: 1rem;
  padding-left: 1rem;
  color: lightgray; }

/* line 50, scss/style.scss */
.race-button, .subrace-button, .class-button {
  width: 50%;
  padding: 10px;
  margin: 10px 0 0 0;
  flex-grow: 3; }

/* line 57, scss/style.scss */
.back-button {
  position: absolute;
  padding: 0;
  top: 1vw;
  right: 1vw; }

/* line 63, scss/style.scss */
.race-info, .class-info {
  position: absolute;
  top: 50vh;
  left: 10vw;
  border: 1px black solid;
  background: white;
  width: 80%;
  padding: 1rem 1rem 1rem 2rem;
  line-height: 1.2;
  list-style-type: square;
  max-height: 0;
  transition: 1s;
  overflow: hidden; }
  /* line 79, scss/style.scss */
  .race-info.visible, .class-info.visible {
    top: 30%;
    max-height: 90vh; }

/* line 98, scss/style.scss */
.race-arrow {
  width: 25%; }

/* line 101, scss/style.scss */
.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

/* line 108, scss/style.scss */
.stat-container {
  margin: 0 2.5vw 10px 2.5vw;
  text-align: center;
  border: 1px solid black;
  width: 45vw;
  padding: 10px 0; }
  /* line 114, scss/style.scss */
  .stat-container:first-child {
    margin-top: 125px; }
  /* line 117, scss/style.scss */
  .stat-container:nth-child(2) {
    margin-top: 125px; }
  /* line 120, scss/style.scss */
  .stat-container .stat-button {
    padding: 0 20px; }

/* line 125, scss/style.scss */
.tooltip {
  border: 1px solid black;
  background-color: white;
  position: absolute;
  z-index: 2; }

/* line 132, scss/style.scss */
.main-stat {
  font-size: 1.7rem; }

/* line 137, scss/style.scss */
.mod-stat {
  font-size: 1.2rem; }

/* line 141, scss/style.scss */
#points-pool-container {
  width: 100vw;
  height: 80px;
  padding: 1rem 0 0.5rem;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; }
  /* line 154, scss/style.scss */
  #points-pool-container #points-pool {
    font-size: 2rem; }
  /* line 157, scss/style.scss */
  #points-pool-container .back-button {
    font-size: 2rem; }

/* line 162, scss/style.scss */
#secondary-attributes-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  top: 0;
  display: flex; }
  /* line 169, scss/style.scss */
  #secondary-attributes-container .secondary-attributes-half {
    border: 1px solid black;
    width: 50vw;
    display: flex;
    flex-direction: column; }
    /* line 174, scss/style.scss */
    #secondary-attributes-container .secondary-attributes-half .secondary-attributes-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid black;
      width: 40vw;
      height: 30vw;
      margin: 10vh 5vw;
      text-align: center; }
      /* line 183, scss/style.scss */
      #secondary-attributes-container .secondary-attributes-half .secondary-attributes-box h1 {
        margin-top: 2vh;
        font-size: 2rem; }

/* line 192, scss/style.scss */
.close-secondary-attributes {
  position: absolute;
  right: 5vw; }

/* line 197, scss/style.scss */
#class-container {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
  height: 100vh; }

/* line 205, scss/style.scss */
.hidden {
  display: none; }

/* line 209, scss/style.scss */
.visible {
  display: block; }

/*# sourceMappingURL=style.css.map */
